<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


	<header>
		
		<h1>Edit your info</h1>

		<h1><%= user.username%></h1>

		<li><a href="/">Home</a></li>

	</header>

	<h2><%= user.username%>'s info </h2>

	<form action="/users/<%= index%>?_method=PUT" method="POST">

		<input type="text" name="username" value="<%=user.username%>"><br>

		<input type="text" name="photo" value="<%=user.photo%>">


		<button type="Submit">Update User</button> 

	</form>


	<form action="/users/<%= user.id%>?_method=DELETE" method="POST">
		<button>delete</button>
	</form>

</body>
</html>